extends layout

block content


  p
    | In the event of disasters or accidents, immediate aid is paramount to saving lives,
    | but the lack of infrastructure in many parts of India
    | means that that help does not always reach those who need it.
    | Dronaid aims to remedy the situation with the development of an autonomous drone
    | to provide healthcare to places inaccessible by road.

  p
    | This is the URL used for all our API calls.
    | Links provided on the right should help guide developers and people who are lost alike


block sidebar
  .widget
    h1 Useful links
    p
      | Main Website:
      | <br>
      a(href='http://www.dronaid.care') Visit Website


    p
      | Documentation:
      | <br>
      a(href='http://localhost:3000/mad/apidoc') Go to Docs
